/* Colors: */
.colors{
  color: #5e3a2c;
  color: #d08b5a;
  color: #aa7249;
  color: #b4d1a7;
  color: #8fa887;
  color: #dce7c2;
  color: #fbf7d8;

  color: #8cc63e;
  color: #cea25d;
  color: #e8d4b5;
  color: #e17055;
  color: #f7dcd1;
}
