.actionsContainer{
  position: absolute;
  top: 0;
  left: -256px;
  width: 256px;
  height: 100%;
  z-index: 100000;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 0 rgba(0,0,0, 0.1);
  transition: all 0.3s ease-out;
}

.actionsContainer.open{
  left: 0px;
  box-shadow: 0 0 10px rgba(0,0,0, 0.1);
}

.hidden{
  opacity: 0;
  transform: translateX(100px);
}

.ActionButton{
  z-index: 100;
  transition: all 0.3s ease-out !important;
}

.ActionButton.active{
  transform: rotate(45deg);
}

.businessListHeader{
  height: 110px;
  background: #3f51b5;
  color: white;
  padding-top: 24px;
  box-sizing: border-box;
  text-align:left;
  margin-bottom: 16px;
}

.businessListHeader h2{
  margin-left: 16px;
}

.businessList{
  text-align: left;
}

.businessListing{
  box-sizing: border-box;
  padding: 8px;
  padding-left: 32px;
  margin-bottom: 8px;
  cursor: pointer;
}

.businessListing.hovered{
  background: rgba(140, 140, 140, 0.3);
}

.businessListing h4{
  text-transform: capitalize;
  color: #404041;
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
}

.businessListing p{
  font-weight: lighter;
  font-size: 0.8em;
  color: #a7a9ab;
  margin: 0;
}

.addBusinessForm{
  position: relative;
  width: 100%;
  height: 0;
  left: 0;
  bottom: 0;

  background: white;

  transition: all 0.3s ease-out;
}

.addBusinessForm.open{
  width: 100%;
  height: 325px;
}

.buttonContainer{
  text-align: center;
  margin: 32px 0;
}
