.selected{
  position: absolute;
  top: 0;
  right: -468px;
  width: 468px;
  height: 100%;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 0 rgba(0,0,0, 0.1);
  transition: all 0.3s ease-out;
}

.selected.open{
  right: 0;
}

.closeSelectedButton{
  position: absolute;
  top: 24px;
  left: 8px;
}

.graphContainer{
  width: 90%;
  margin: 0 auto;
}
