.loadingContainer{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background: rgba(255,255,255,1);

  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s ease-out;

  transition-delay: 0.1s;

  z-index: 10000000
}

.loadingContainer.active{
  pointer-events: all;
  opacity: 1;
}

.loadingContainer>div{
  margin: 0 auto;
  margin-top: 25%;
}
